.chat-window {
  display: flex;
  flex-direction: column; /* Apilar hijos verticalmente */
  background: linear-gradient(to bottom left,#501518 ,#171717);
  height: 100%; /* Asegurar altura completa */
  overflow: hidden; /* Prevenir problemas de desbordamiento */
  /*border: 2px solid cyan; /* Borde opcional */
  flex: 1; /* Permitir que ocupe el resto del espacio */
}

  .messages-container {
    flex: 1; /* Take up all available space */
    display: flex;
    flex-direction: column; /* Standard order for messages */
    overflow-y: auto; /* Enable vertical scrolling for messages */
    padding: 100px 220px 20px 220px; /* top, right, bottom, left */
  }
  
  .input-area {
    padding: 10px; /* Padding around the input area */
    border-top: 1px solid #ccc; /* Top border for the input area */
    background-color: white; /* Background color for input area */
  }
  